
@model List<object>
@using MusicaLMFL.Modelo

<h3 style="margin-bottom: 25px; text-align: center;">Añadir Teclado</h3>
<p class="text-left">Mensaje: <span id="mensaje"></span></p>

<div class="container">
    <div class="col-md-10">
        <div class="form-area">
            <form class="form" method="post" id="my_form" onsubmit="Enviar()">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input name="Nombre" type="text" maxlength="30" required="3" class="form-control" placeholder="Nombre" id="nombre" />
                </div>
                <div class="form-group">
                    <label for="designer">Diseñador</label>
                    <input name="Designer" type="text" maxlength="30" minlength="3" required="" class="form-control" placeholder="Diseñador" id="designer" />
                </div>
                <div class="form-group">
                    <label for="switch">Switch</label>
                    <select name="Switch" class="form-control" id="switch">
                        @foreach (TSwitch switches in Model)
                        {
                            <option value="@switches.Switch">@switches.Switch</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="keycaps">Keycaps</label>
                    <input name="Keycaps" type="text" required="" class="form-control" placeholder="Keycaps" id="keycaps" />
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input name="Imagen" type="text" required="" class="form-control" placeholder="Imagen" id="imagen" />
                </div>
                <fieldset class="form-group">
                    <legend>Hotswap:</legend>
                    <input type="checkbox" name="Hotswap" value="Si" id="hotswap" />Si/No<br>
                </fieldset>
                <fieldset class="form-group">
                    <legend>Compatibilidad: </legend>
                    <input type="checkbox" name="Qmk" value="Si" id="qmk" />QMK<br>
                    <input type="checkbox" name="Via" value="Si" id="via" />VIA<br>
                </fieldset>
                <fieldset class="form-group">
                    <legend>RGB: </legend>
                    <input type="checkbox" name="Rgb" value="Si" id="qmk" />RGB<br>
                </fieldset>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input name="Descripcion" type="text" required="" class="form-control" placeholder="Descripcion" id="descripcion" />
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input name="Precio" type="text" required="" class="form-control" placeholder="Precio" id="precio" />
                </div>
                <br>

                <div class="submit">
                    <input type="submit" id="botonEnviar" value="Insertar" class="btn btn-primary pull-right" />
                    <input type="reset" value="Borrar Campos" class="btn btn-danger pull-right" id="button-reset">
                    <div class="ease"></div>
            </form>
        </div>
    </div>
</div>


<script>

    let $mensaje = document.querySelector('#mensaje');

    function Enviar()
    {
        var uri = @Url.Action("addTeclado", "Teclado");
        var teclado = {};
        teclado = cargarTeclado(teclado);
        $.ajax({
            url: uri,
          data: JSON.stringify(disco),
          type: 'POST',
          success: exito,
          contentType: 'application/json'
        });
    }

    function exito(data) {
        $mensaje.textContent = data;
    }

    function cargarTeclado(teclado) {//Terminar
        disco.Titulo = document.getElementById("titulo").value;
        disco.Autor = document.getElementById("autor").value;
        disco.Genero = document.getElementById("genero").value;
        disco.Canciones = document.getElementById("canciones").value;
        disco.Precio = document.getElementById("precio").value;
        disco.Imagen = document.getElementById("imagen").value;
        if (document.getElementById('vinilo').checked)
            disco.Formatouno = document.getElementById("vinilo").value;
        if (document.getElementById('cd').checked)
            disco.Formatodos = document.getElementById("cd").value;
        if (document.getElementById('digipack').checked)
            disco.Formatotres = document.getElementById("digipack").value;
        if (document.getElementById("novedad").checked)
            disco.Estado = document.getElementById("novedad").value;
        if (document.getElementById("reedicion").checked)
            disco.Estado = document.getElementById("reedicion").value;
        return disco;
    }
</script>



