@model List<MusicaLMFL.Modelo.TTeclado>

@{
    ViewBag.Title = "";
}


<div class="container">
    <center>
        <!--span id="totateclados">Total de teclados: @Model.Count</span-->
        <div class="modal-body row" id="modal-champions-body">
            @foreach (var teclado in Model)
            {
                <div id="@teclado.CodTeclado">
                    <div><img alt="Portada" src=@teclado.Imagen width="150" height="150"></div>
                    <div>
                        @Ajax.ActionLink(teclado.Nombre, "obtenerTeclados", "Teclado", new { CodTeclado = teclado.CodTeclado }, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            OnSuccess = "success",
                        }, new { @class="text-dark"})
                    </div>
                    <div><br /></div>
                </div>
            }
        </div>
    </center>
</div>


<div class="container">
    <div class="row">
        <main id="items" class="col-sm-8 row"></main>
        <aside class="col-sm-6">
            <h2>Carrito</h2>
            <ul id="carrito" class="list-group"></ul>
            <hr>
            <p class="text-right">Total: <span id="total"></span>&euro;</p>
            <a class="btn btn-primary btn-sm" style="width: 70px" id="botonEnviar" value="Comprar" onclick="comprar()">Comprar</a>
        </aside>
    </div>
</div>
<br /><br />

<p class="text-left">Mensaje: <span id="mensaje"></span></p>

<script src="~/Javascript/carroCompra.js"></script>
